html 
    head 
        title= title 
    body 
        h1= message
        div(id="app")
        script(src="http://localhost:3001/@vite/client" type="module")
        script(src="http://localhost:3001/src/main.js" type="module")
